.lhLogo {
    position: relative;
    left:0;
    right:0;
    animation-direction: alternate;
    color: black;
    padding-left: .1em;
    padding-right: .1em;
}

.blog {
    height: 2.7em; 
    padding-left: .4em; 
    padding-right: .1em;
}

.lhLogo:hover {
    animation: skew 2s alternate-reverse;
}

@keyframes skew {
    0% {
      transform: rotate(0deg);
    }
    100% {
        transform: rotate(1800deg);
        filter: blur(1px) saturate(2);
    }
  }

