.modalIMG {
    height: 10em;
    flex-basis: 10%;
}
 
.modalFlex {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.modalFlexC {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    
}

.modalWindow {
    opacity: 0;
    z-index: 3;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgb(0, 0, 0, .6);
    transition: all .5s ease-in-out;
}

.modalBox {
    opacity: 0;
    left: 20%;
    top: 25%;
    transform: translateY(-100%);
    position: absolute;
    pointer-events: none;
    height: 50%;
    width: 60%;
    background: radial-gradient(circle, rgba(177,176,179,1) 20%, rgba(237,229,241,1) 100%);
    border-radius: 1em;
    transition: .5s ease-in-out;
}

.showModal {
    transform: translateX(0);
    pointer-events: all;
    opacity: 1;
    pointer-events: auto;
}

.scrollRight {
    transform: translateX(100%);
}

.scrollLeft {
    transform: translateX(-100%);
}

.closeX {
    margin: .5em;
    margin-bottom: 0;
    opacity: .3;
}

.closeX:hover {
    opacity: .6;
}

.leftArw {
    position: absolute;
    top: 40%;
    left: -10%;
    color: whitesmoke;
    opacity: .8;
    z-index: 4;
    transition: .3s ease-in-out;
}

.leftArw:hover {
    color: rgb(4, 107, 133);
    transform: scale(1.2);
    opacity: 1;
}

.rightArw {
    position: fixed;
    top: 40%;
    right: -10%;
    color: whitesmoke;
    opacity: .8;
    z-index: 4;
    transition: .3s ease-in-out;
}

.hideArrow {
    visibility: hidden;
    pointer-events: none;
}

.rightArw:hover {
    color: rgba(4, 107, 133);
    transform: scale(1.2);
    opacity: 1;
}



.outlineBlack {
    text-shadow: 1px 1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000,
        0px 1px 0 #000,
        0px -1px 0 #000,
        -1px 0px 0 #000,
        1px 0px 0 #000,
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000,
        -2px 0px 0 #000,
        2px 0px 0 #000,
        1px 2px 0 #000,
        -1px 2px 0 #000,
        1px -2px 0 #000,
        -1px -2px 0 #000,
        2px 1px 0 #000,
        -2px 1px 0 #000,
        2px -1px 0 #000,
        -2px -1px 0 #000;
}


@media only screen and (min-width: 1000px) {
    .modalBox {
        
    }
}

@media only screen and (min-width: 1200px) {
    .modalBox {
        
    }
}