.navBar {
    width: 100vw;
    height: 2em;
    padding: .4em;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    border: 1px solid black;
    background: whitesmoke;
}

.navBTNS {
    padding-right: 1em;
    padding-left: 1em;
}

.navBTNS:hover {
    color: rgba(107, 17, 226, 0.4)
}

.navLogo {
    height: 2.7em; 
    opacity: .6;
}

.navLogo:hover {
    opacity: 1;
}