.modalIMG {
    height: 15em;
    width: 15em;
    padding: 2em;
}
 
.modalFlex {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.modalFlexC {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    
}

.modalWindow {
    display: none;
    z-index: 3;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .6);
}

.modalBox {
    position: fixed;
    left: 0;
    top: 0;
    transition: all 2s ease-in-out;
    transform: translate(5%, 15%);
    height: 80%;
    width: 90%;
    background-color: white;
    border-radius: .2em;
}

.showModal {
    display: block;
}

@media only screen and (min-width: 1000px) {
    .modalBox {
        transform: translate(15%, 20%);
        width: 80%;
        height: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    .modalBox {
        transform: translate(25%, 30%);
        width: 70%;
        height: 60%;
    }
}