.biggestText {
    font-size: 4.1em;
    line-height: 50%;
    font-family: 'Oswald', sans-serif;
    color: darkgray;
}


.bigText {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    line-height: 50%
}

.firstRowText {
    font-size: 2.7em; 
    line-height: 95%;
    transition: 1s ease-in-out;
}
.firstRowText:hover {
    transform: scale(1.3);
    color: rgb(6, 31, 160);
    text-shadow:
        -1px -1px 0 whitesmoke,
        1px -1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
    
}

.secondRowSmallText {
    font-size: 1.1em; 
    line-height: 80%; 
    padding-right: .2em;
    transition: 1s ease-in-out;
}
.secondRowSmallText:hover {
    transform: scale(1.3);
    color: rgb(7, 139, 165);
    text-shadow:
        -1px -1px 0 whitesmoke,
        1px -1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;  
}

.thirdRowSmallText {
    padding: .2em; 
    line-height: 80%;
    transition: 1s ease-in-out;
}
.thirdRowSmallText:hover {
    transform: scale(1.3);
    color: rgb(107, 183, 7);
    text-shadow:
        -1px -1px 0 whitesmoke,
        1px -1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;  
}

.fourthRowMedText {
    font-size: 3.1em; 
    line-height: 80%;
    transition: 1s ease-in-out;
}
.fourthRowMedText:hover {
    transform: scale(1.3);
    color: rgb(214, 153, 0);
    text-shadow:
        -1px -1px 0 whitesmoke,
        1px -1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;  
}

.largeMiddleFont {
    line-height: 50%; 
    flex-basis: 20%; 
    font-size: 5em;
    transition: 1s ease-in-out;
}
.largeMiddleFont:hover {
    transform: scale(1.3);
    color: rgb(127, 3, 3);
    text-shadow:
        -1px -1px 0 whitesmoke,
        1px -1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
}

.fifthRowMedText {
    font-size: 3em; 
    line-height: 85%;
    transition: 1s ease-in-out;
}
.fifthRowMedText:hover {
    transform: scale(1.3);
    color: rgb(0, 214, 157);
    text-shadow:
        -1px -1px 0 whitesmoke,
        1px -1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;  
}

.sixthLargeText {
    font-size: 1.7em; 
    line-height: 90%; 
    padding-right: .2em;
    padding-left: .2em;
    transition: 1s ease-in-out;
}
.sixthLargeText:hover {
    transform: scale(1.3);
    color: rgb(214, 0, 92);
    text-shadow:
        -1px -1px 0 whitesmoke,
        1px -1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;  
}


.sixthS1Text {
    font-size: 1.3em; 
    line-height: 120%;
    transition: 1s ease-in-out;
}
.sixthS1Text:hover {
    transform: scale(1.3);
    color: rgb(90, 9, 188);
    text-shadow:
        -1px -1px 0 whitesmoke,
        1px -1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;  
}

.sixthS2Text {
    font-size: 1.3em;
    line-height: 95%;
    transition: 1s ease-in-out;
}
.sixthS2Text:hover {
    transform: scale(1.3);
    color: rgb(182, 188, 9);
    text-shadow:
        -1px -1px 0 whitesmoke,
        1px -1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
    
}

.lastRowText {
    font-size: 3.2em; 
    line-height: 90%;
    transition: 1s ease-in-out;
}
.lastRowText:hover {
    transform: scale(1.3);
    color: rgb(162, 238, 22);
    text-shadow:
        -1px -1px 0 whitesmoke,
        1px -1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
    
}


.lineH110 {
    line-height: 110%;
}

.middleSide {
    transition: 1s ease-in-out;
}
.middleSide:hover {
    transform: scale(1.3);
    color: rgb(243, 59, 13);
    text-shadow:
        -1px -1px 0 whitesmoke,
        1px -1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
}

